<!DOCTYPE html>
<html lang="en" ng-app="miniStore">
<head>
	<meta charset="UTF-8">
	<title ng-bind="title"></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/miniStore.js"></script>
	<link rel="stylesheet" href="/stylesheets/index_style.css">
	<script src="/javascripts/factories.js"></script>
	<script src="/javascripts/controllers.js"></script>
	<script src="/javascripts/miniStoreRoutes.js"></script>
</head>
<body>
	<div class="container">
		<ul class="nav nav-pills">
			<li><a href="#/">Dashboard</a></li>
			<li><a href="#/products">Products</a></li>
			<li><a href="#/orders">Orders</a></li>
			<li><a href="#/customers">Customers</a></li>
		</ul>
		<div class="page-header">
			<h1>Welcome to the Fruit Stand! <small>Place orders today.</small></h1>
		</div>
		<div class="row">
			<div ng-view=""></div>
		</div>
	</div>
</body>
</html>