input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error {
	color: red;
}
.panel-default {
	border-color: #ccc;
}
#quantity {
	width:18%; !important
}
#product {
	width:78%; !important
}
#searchBox {
	margin: 15px 0;
}