<div ng-controller='dashboards'>
	<div class="row">
		<div class="col-sm-2">
			<div class="row">
				<input class="form-control" type="text" placeholder="search ..." ng-model="search">
			</div>
			<div class="row">
				<button class="btn btn-default pull-right marginButton">Filter</button>
			</div>
		</div>
		<div class="col-sm-10 pull-right smallCols">
			<div class="row">
				<div ng-repeat="product in products | limitTo: 5 | filter: search " class="col-sm-1 prodBox text-center">
					<img src="/images/x_icon.png" alt="/images/x_icon.png">
					<p ng-bind="product.name"></p>
					<p>({{ product.quantity }})</p>
				</div>
			</div>
			<div class="row text-center">
				<a href="">show more ... </a>
			</div>
			<div class="row">
				<h3>Recent Orders</h3>
				<p class="col-sm-12" ng-repeat="order in orders | limitTo: 3 | filter: search ">{{ order.customer_name }} purchased {{ order.quantity }} {{ order.product }}... ({{ order.created_at }})</p>
			</div>
			<div class='row text-center'>
				<a href="">show all orders ... </a>
			</div>
			<div class="row">
				<h3>New Customers</h3>
				<p class="col-sm-12" ng-repeat="customer in customers | limitTo: 3 | filter: search "><button class="btn btn-xs btn-danger">x</button>{{ customer.name }} joined the store ( days ago)</p>
			</div>
			<div class='row text-center'>
				<a href="">show all customers ... </a>
			</div>
		</div>
	</div>
</div>