<div ng-controller='products'>
	<div class="row">
		<div class="col-sm-2">
			<div class="row">
				<input ng-model="searchProducts" id="searchBox" class='form-control' type="text" name="search" placeholder="Search Products...">
			</div>
			<div class="row">
				<button class="btn btn-info pull-right marginButton">Filter</button>
			</div>
			<div class="row">
				<p class='error' ng-bind='errors.errors.name.message'></p>
				<p class='error' ng-bind='errors.errors.image.message'></p>
				<p class='error' ng-bind='errors.errors.quantity.message'></p>
				<p class='error' ng-bind='errors.err'></p>
			</div>
			<div class="row">
				<h4>Add a new Product</h4>
			</div>
			<div class="row">
				<form role='form'>
					<div class="form-group">
						<label class="control-label" for="name">Product Name:</label>
						<input ng-model="new_product.name" id="name" class="form-control" type="text" name="name" placeholder="Type product name here...">
					</div>
					<div class="form-group">
						<label class="control-label" for="image">Image (url):</label>
						<div class="input-group">
							<div class="input-group-addon">http://</div>
							<input ng-model="new_product.image" id="image" class="form-control" type="text" name="image">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="description">Description:</label>
						<textarea ng-model="new_product.description" class="form-control" name="description" id="description"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label" for="init_quantity">Initial Quantity:</label>
						<input ng-model="new_product.quantity" id="init_quantity" class="form-control" type="number" name="quantity" min="1">
					</div>
					<div class="form-group">
						<button ng-click="newProduct()" class='pull-right btn btn-primary' type="submit">Add new Product</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-10 pull-right smallCols">
			<div class="row">
				<div ng-repeat="product in products | limitTo: 15 | filter: search " class="col-sm-1 prodBox text-center">
					<img ng-src="{{ product.image }}" alt="{{ product.name }} image">
					<p class="prodInfo" ng-bind="product.name"></p>
					<p class="prodInfo">({{ product.quantity }})</p>
				</div>
			</div>
			<div class="row text-center">
				<a href="#/products">show more ... </a>
			</div>
		</div>
	</div>
</div>